.cache
__pycache__
*.egg-info
.ipynb_checkpoints
*.pyc
*.pyo
.tox
dist
build
# private: commented out - I *do* want to save my private folder to my repo
restats

# Ignore log files that are in the root of the project
/log_*.txt

# Coverage reports
.coverage
.coverage.*

# editor 
.idea
.project
.pydevproject

# pyenv
.python-version

# venv
env/
.venv/
venv/
.venvOLD/

# libreoffice
.~lock.*

